body {
    background-color: #040e1465;
    font-family: Raleway, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.back {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1300px;
}

th {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    padding: 5px;
    background-color: aqua;
}

td {
    text-align: center;
    padding: 5px;
    background-color: bisque;
}
