.gradient1 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 10px;
    width: 400px;
    height: 400px;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    position: absolute;
}

.gradient2 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 420px;
    width: 400px;
    height: 400px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    position: absolute;
}

.gradient3 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 830px;
    width: 400px;
    height: 400px;
    background: linear-gradient(30deg, red, orange, yellow, green, blue, indigo, violet);
    position: absolute;
}

.gradient4 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    left: 1240px;
    width: 400px;
    height: 400px;
    background: linear-gradient(yellow, transparent, red);
    position: absolute;
}